@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("../font/NotoSerifJP-200.woff2") format("woff2");
}
.NotoSerifJP-200 {
  font-family: "NotoSerifJP", serif;
  font-weight: 200;
}

@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../font/NotoSerifJP-300.woff2") format("woff2");
}
.NotoSerifJP-300 {
  font-family: "NotoSerifJP", serif;
  font-weight: 300;
}

@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../font/NotoSerifJP-400.woff2") format("woff2");
}
.NotoSerifJP-400 {
  font-family: "NotoSerifJP", serif;
  font-weight: 400;
}

@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../font/NotoSerifJP-500.woff2") format("woff2");
}
.NotoSerifJP-500 {
  font-family: "NotoSerifJP", serif;
  font-weight: 500;
}

@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../font/NotoSerifJP-600.woff2") format("woff2");
}
.NotoSerifJP-600 {
  font-family: "NotoSerifJP", serif;
  font-weight: 600;
}

@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../font/NotoSerifJP-700.woff2") format("woff2");
}
.NotoSerifJP-700 {
  font-family: "NotoSerifJP", serif;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSerifJP";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../font/NotoSerifJP-900.woff2") format("woff2");
}
.NotoSerifJP-900 {
  font-family: "NotoSerifJP", serif;
  font-weight: 900;
}

/*  */

h3.NotoSerifJP {
  font-size: clamp(2.4rem, 3.6vw, 4.8rem);
  line-height: 1.6;
  font-family: "NotoSerifJP", sans-serif;
  font-weight: 800;
}