@font-face {
  font-family: "ZenKakuGothicNew";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../font/ZenKakuGothicNew-300.woff2") format("woff2");
}
.ZenKakuGothicNew-300 {
  font-family: "ZenKakuGothicNew", sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: "ZenKakuGothicNew";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../font/ZenKakuGothicNew-400.woff2") format("woff2");
}
.ZenKakuGothicNew-400 {
  font-family: "ZenKakuGothicNew", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "ZenKakuGothicNew";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../font/ZenKakuGothicNew-500.woff2") format("woff2");
}
.ZenKakuGothicNew-500 {
  font-family: "ZenKakuGothicNew", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "ZenKakuGothicNew";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../font/ZenKakuGothicNew-700.woff2") format("woff2");
}
.ZenKakuGothicNew-700 {
  font-family: "ZenKakuGothicNew", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "ZenKakuGothicNew";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../font/ZenKakuGothicNew-900.woff2") format("woff2");
}
.ZenKakuGothicNew-900 {
  font-family: "ZenKakuGothicNew", sans-serif;
  font-weight: 700;
}

/*  */

h3.ZenKakuGothicNew {
  font-size: clamp(2.4rem, 3.6vw, 4.8rem);
  line-height: 1.6;
  font-family: "ZenKakuGothicNew", sans-serif;
  font-weight: 900;
}